{% extends "./base.html" %}
{% block title %}Log-in{% endblock %}

{% block content %}
<section id="admin-block">
  <h1>Se Connecter</h1>
  {% if form.errors %}
    <p>
      Vos identifiants n'ont pas été reconnus !
      Essayez à nouveau.
    </p>
  {% else %}
  <div id="admin-message">
    <h4>Vous pouvez entrer ici vos identifiants :</h4>
    <div id="message-content">
      <form action="{% url 'customer:login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="validation_button" id="login_button">Valider</button>
      </form>
    </div>
    <br>
    <p><a href="{% url 'customer:password_reset' %}">Avez-vous oublié votre mot de passe ?</a></p>
  </div>
</section>
{% endif %}

{% endblock %}
 
