{% extends "./base.html" %}

{% block title %}Nouveau MdP{% endblock %}

{% block content %}
<section id="admin-block">
  <h1>Changement de Votre Mot de Passe </h1>
  <div id="admin-message">
    <h4>Vous pouvez entrer ici le nouveau mot de passe :</h4>
      <ul>Votre mot de passe doit répondre aux critères suivants:
        <li>Au moins 8 caractères</li>
        <li>Votre mot doit comporter des lettres et des chiffres </li>
      </ul>
    <div id="message-content">
      <form method="post">
        {{ form.as_p }}
        <button type="submit" class="validation_button" id="password_change_button">Valider</button>
        {% csrf_token %}
      </form>
    </div>
  </div>
</section>
{% endblock %}
 
