{% extends "./base.html" %}
{% block title %}Nouveau MdP{% endblock %}

{% block content %}
  <h1>Changement de Votre Mot de Passe </h1>
  {% if password_form.errors %}
    <p>Vos deux mots de passe doivent être identiques.</p><br>
        et répondre aux critères suivants : </p>
  {% else %}
  <div class="container" style="background-color: lightcyan;">
    <div class="row d-flex justify-content-center">
  {% endif %}
      <div class="login-form">
        <div class="card-body">
          <h5 class="card-title">Vous pouvez entrer ici le nouveau mot de passe :</h5>
          <div class="card-text">
            <form action="{% url 'customer:password_change' %}" method="post">
              {{ password_form.as_p }}
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
              <p><input type="submit" value="Validez" id="submit-login"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
 
