{% extends "./base.html" %}

{% block title %}Nouveau MdP{% endblock %}

{% block content %}
  <h1>Changement de Votre Mot de Passe </h1>
  
          <h5 class="card-title">Vous pouvez entrer ici le nouveau mot de passe : <br></h5>
          <ul>Votre mot de passe doit répondre aux critères suivants:
            <li>Au moins 8 caractères</li>
            <li>Combiner des chiffres, des lettres et des caractères spéciaux</li>
          </ul>

          <div class="card-text">
            <form method="post">
              {{ form.as_p }}
              <p><input class="btn btn-sm btn-success" type="submit" value="Validez" id="submit-login"></p>
              {% csrf_token %}
            </form>
          </div>
          
{% endblock %}
 
