{% extends "./base.html" %}

{% block title %}Confirmation du Mot de Passe{% endblock %}

{% block content %}
<section id="admin-block">
    <h1>Réinitialisez votre mot de passe</h1>
    {% if validlink %}
    <div id="admin-message">
        <h4> Saisissez votre mot de passe, puis confirmez-le :</h4>
        <ul>Critères : 
            <li>Votre mot de passe doit compter plus de 8 caractères</li>
            <li>Votre mot doit comporter des lettres et des chiffres</li>
        </ul>
        <div id="message-content">
            <form method="post">
                {% if form.errors %}
                    {% for key, value in form.errors.items %}
                    {{ value|escape }}
                    {% endfor %}
                {% endif %}
                <p>Nouveau mot de passe : {{ form.new_password1 }}</p>
                <p>Confirmation du mot de passe : {{ form.new_password2 }}</p>
                {% csrf_token %}
                <button type="submit" id="validate_button">Valider</button>
            </form>
            {% else %}
            <p>Le lien n'est pas valide. Veuillez renouveler votre demande</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}