{% extends './base.html' %}

{% block title %}  Création de Compte {% endblock %}

{% block content %}
<div class="container" style="background-color: lightcyan;">
    <div class="row d-flex justify-content-center">
        <h1 style="font-size: 5vw;"> Création d'un compte utilisateur </h1>
        <div class="container p-2">
            <form method="post" style="font-size: 2vw;">
                {{ user_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Créer mon Compte"></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}