{% extends './base.html' %}

{% block title %}  Création de Compte {% endblock %}

{% block content %}
<section id="admin-block">
    <h1>Création d'un compte utilisateur : </h1>
    <div id="admin-message">
        <h4>Veuillez créer vos identifiants :</h4>
        <div id="message-content">
            <form method="post">
                {{ user_form.as_p }}
                {% csrf_token %}
                <p><button type="submit" id="validate_button">Valider</button></p>
            </form>
        </div>
    </div>
</section>
{% endblock %}