{% extends "./base.html" %}

{% block content %}
<div class="container" style="background-color: lightcyan; font-size: 3vw;">
Pur Beurre n'est pas responsable des données mises à disposition sur le site.
Les photos et autres données sont extraites d'Open Food Facts et sont simplement mises à votre disposition.
Elles restent donc leur entière propriété.
En cas de réclamation:
<a href="https://fr.openfoodfacts.org">https://fr.openfoodfacts.org</a>
<br>
Greg Jeanneau est l'auteur de la photo de gâteaux:
<a href="https://unsplash.com/@gregjeanneau">ICI</a>
<br>
Les icônes proviennent d'Iconfinder.com
<a href="https://iconfinder.com">ICI</a>
ou bien encore de Flaticons.com
<a href="https://flaticons.com">ICI</a>

<br>
Les couleurs sont fournies par OC via frontify.com:
<a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/colors"> frontify.com</a>
<br>
Ce site est hébergé par Heroku dont voici les coordonnées:
<a href="https://www.heroku.com/contact">Heroku.com</a>



</div>
{% endblock %}