{% extends '../customer/base.html'%}
{% block title %} Vos Favoris {% endblock %}

{% block content %}
<section id="search-reminder">
    <h3 id="question-reminder">Voici vos favoris :</h3>
    <h4 id="click-on-picture">Cliquez sur l'image du produit pour en afficher les détails</h4>
</section>
<div class="container">
    <div class="row ">
        {% for favorite in favorites %}
        <div class="col-sm-12 col-md-4">
            <div class="card-deck">
                <div class="card">
                    <div class="card-img-top">
                        <a href="{% url 'food_items:favorite_details' favorite.code %}" id="{{favorite.code}}">
                            <img class="img-in-card" src='{{ favorite.image_url }}'
                                id="{{favorite.code}}" alt="Image Produit">
                        </a>
                        <div class="nutrition-circle float-right">{{favorite.nutrition_score}}</div>
                    </div>
                    <div class="card-body">
                        <p>{{ favorite.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h2 id="error_message">Vous n'avez pas enregistré de favori !</h2>
    {% endfor %}
        
    </div>
</div>



{% endblock %}

                
                    