@font-face {
    font-family: "Cupcake";
    src: url(Cupcake_Smiles.woff);
}

html {
    border: none;
    height: 100%;
    overflow: scroll;
}

body {
    border: none;
    height: 95%;
    width: 100%;
    background-color: goldenrod;
    font-family: 'Cupcake', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    overflow: scroll;
}

header {
    border-bottom: black 1px solid;
    min-height: 20%;
    background: linear-gradient(rgb(230, 178, 11), 10%, rgb(236, 221, 179)) ;
}

header section {
    border: none;
    height: 50%;
}
header #brand {
    display: flex;
    justify-content: start;
}
#brand div {
    border: none;
    padding: 0.1em;
}

header navbar {
    border: none ;
}

img.icon {
    width: 4em;
    height: 4em;
}

#Pur-Beurre {
    font-style: oblique;
    font-size: 2em;
}

#search-form {
    margin-top: auto;
    margin-bottom: auto;
}

#main_section {
    overflow: scroll;
    border: none;
    height: 75%;
    background: linear-gradient(rgb(236, 221, 179), rgb(194, 235, 194),rgb(236, 221, 179));
}

#main_section #banner {
    border: 0.1em blue dotted;
    height: 40%;
    background-image: url(pictures/greg-jeanneau-YTbFHT9_IhY-unsplash.jpg);
}

#banner-text {
    margin-left: 6em;
}

#user-actions a {
    font-size:24px;
    color: black
}

a:hover {
    font-weight: bold;
    text-transform: uppercase;
}


#main_section #owners {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    border: none;
    height: 40%;
    background-color: rgb(236, 221, 179);
}

#owner-pictures {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

#owners img {
    width: 25%;
    border: none;
    height: 80px;
    width: 80px;
    
}

#main_section #contact {
    display: flex;
    justify-content: space-around;
    border: none;
    height: 20%;
    background-color: rgb(236, 221, 179);
}

#contact div {
    width: 25%;
    border: none;
    text-align: center;
}

#contact img{
    width: 3em;
    height: 3em;
}

footer {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: black 1px solid;
    height: 5%;
    background: linear-gradient(rgb(236, 221, 179), 50%,rgb(230, 178, 11));
}

footer div {
    width: 25%;
    border: none;
    text-align: center;
    padding: 0.1em;
}

footer div a{
    color: black;
    font-size: larger;
}

footer div a:hover {
    color: chocolate;
    text-decoration: none;
}

.validation_button {
    background: linear-gradient(rgb(18, 216, 18), rgb(194, 235, 194), rgb(18, 216, 18));
    border-radius: 25px;
    width: 4em;
    cursor: pointer;
}

#validate_button:hover {
    background: rgb(147, 197, 114);
}

/* Admin Messages */
#admin-block {
    border: 2px rgb(147, 197, 114) solid;
    box-shadow: 15px 15px 2px 2px rgb(147, 197, 114);
    background-color: blanchedalmond;
    min-height: 160px;
    margin-left: 4em;
    margin-top: 1em;
    margin-right: 4em;
    padding-left: 4em;
    overflow-y: scroll;
    }

#admin-block label {
    font-size: 24px;
}

#admin-block p {
    font-size: 20px;
}

#message-content  ul.errorlist {
    border: 0.2em red solid;
    color: red;
    font-weight: bolder;
    font-size: 24px;
    margin-right: 2em;
}

/* Search Results Treatment */
#search-reminder {
    border: none;
    background-image: url(pictures/greg-jeanneau-YTbFHT9_IhY-unsplash.jpg);
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

#search-results {
    max-width: inherit;
    max-height: inherit;
    display: flex;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    background: #aaebaa;
}

.nutrition-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    text-transform: capitalize;
    border: 1px thin #3498db;
    color:white;
    background: #DE9440;
    position: absolute;
    top: -10px;
    right: -10px;

}

.card-group{
    margin: 3px;
    border-style: inset;
    background: rgb(174, 212, 148);
    height: 24em;
    width: 20em;
   
}

.container {
    border: none;
    }

.card {
    position:relative;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(rgb(232, 238, 232), rgb(186, 228, 186));
   
}

#centered-box{
    text-align: center;
}
.card-img-top{
    text-align: center;
    position: relative;
}

.img-in-card {
    width: 200px;
    height: 200px;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1999.98px) { 
    
    }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) and (orientation:portrait) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 12px;
    }
    h4 {
        font-size: 10px;
    }
    li {
        font-size: 12px;
    }
    #owners-pitch h3{
            display: none;
    }
    #owners-pitch h4{
            display: none;
    }
    #admin-block {
        padding-left: 10px;
       
        }
}
@media (max-width: 767.98px) and (orientation:landscape) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 12px;
    }
    h4 {
        font-size: 10px;
    }
    li {
        font-size: 12px;
    }
    #owners-pitch h3{
            display: none;
    }
    #owners-pitch h4{
            display: none;
    }
    #admin-block {
                padding-left: 10px;
               
    }
   
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 12px;
    }
    h4 {
        font-size: 10px;
    }
    li {
        font-size: 12px;
    }
    form p{
        font-size: 12px;
    }
    header #brand {
       display: none;
   }
    #main_section #banner #banner-text{
        width:100%;
       margin-left: 3px;
    }
    #main_section #banner  #banner-text form{
        display: none;
    }

    #owners-pitch h3{
        display: none;
    }
    #owners-pitch h4{
        display: none;
  }
   footer {
       font-size: 10px;
   }
    #admin-block {
    padding-left: 10px;
   
    }
}

@media (max-width: 575.98px) and (orientation:landscape) {
    #search-reminder {
        height: 60px;
    }

}